<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <appender name="info" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <layout>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="trace" class="com.lianyu.tech.core.log.TraceAppender">
        <layout>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="action" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%message%n</pattern>
        </layout>
    </appender>

    <logger name="action" additivity="false" level="INFO">
        <appender-ref ref="action"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.lianyu.tech.shop.web.site.view.MallFreemarkerView" level="INFO"/>
    <logger name="core.framework" level="INFO"/>

    <root level="debug">
        <appender-ref ref="info"/>
        <appender-ref ref="trace"/>
    </root>
</configuration>
